<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.product">
	<!-- product join -->
	<insert id="join" parameterType="com.campmall.vo.CpmProductVO">
		insert into cpm_product	
			 values ('p_'||sequ_cpm_product.nextval, #{category}, #{prdNm}, #{brdNm}, #{price}, #{dc}, #{sale}, #{stock}, #{event}, sysdate)
	</insert>
	
	
	<!-- product list -->
	<select id="list" resultType="com.campmall.vo.CpmProductVO">
		select rownum rno, category, prdnm, brdnm, price, dc, sale, stock, event, pdate from cpm_product
	</select>
	
</mapper>